body{
  background-color: black;
  color: white;
  font-family: ;
}
.title{
  font-size: 50px;
  font-weight: bold;
}

button img{
  height: 100px;
  width: 100px;
  background-color: black;
  border: 1px solid white;
  border-radius: 100%;
  padding: 20px;
}
.emoji{
  background-color: black;
    border: none;
  /* border-radius: 70px;
  margin: 0px 10px 0px 10px; */
}